.button{
    margin: 5px;
    height: 35px;
    width: 80px;
    background-color: rgb(137, 214, 60);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.button:hover,
.button:disabled{
 
    background-color: rgb(141, 143, 140);
  
}